body {
  background-color: green;
}

body:before {
  background:url('/static/matrix.gif') repeat center center fixed;
  display: block; content:""; position: absolute; z-index:-1;
  top:0; left: 0; right: 0; height: 100%;
  opacity:.2;
}

.header {
  color: whitesmoke;
  opacity:.3;
  font-size: 400%;
  padding-left: 0.7em;
  float:left;
}

.form {
  color: whitesmoke;
  opacity:.5;
  font-size: 100%;
}

#search {
  float: right;
}

#movies-list {
  color: whitesmoke;
  text-decoration: none;
  font-size: 200%;
  opacity: .3;
}

#movies-list:hover {
  color: whitesmoke;
  opacity: .8;
}
